.preview_wrapper {
    text-align: center;
}

.preview_image {
    display: block;
    max-width: 100%;
    margin: 0 auto 20px auto;
}

.download_button {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 auto 15px auto;
    text-decoration: none;
    background-color: #FF9050;
    color: #373737;
    border: 0;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 0 4px 0 #B3B3B3;
    border: 1px solid #FDCCB0;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.download_button:active,
.download_button:hover,
.download_button:focus {
    border-bottom-color: white;
    outline: none;
}

.download_button.active {
    display: inline-block;
}
