.preview_wrapper {
    text-align: center;
}

.preview_image {
    display: block;
    max-width: 100%;
    margin: 0 auto 20px auto;
}

.download_button {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 auto 15px auto;
    text-decoration: none;
    background-color: #CF4647;
    color: white;
    border: 0;
    border-bottom: 4px solid #fcc9c9;
    font-size: 20px;
    cursor: pointer;
}

.download_button:active,
.download_button:hover,
.download_button:focus {
    border-bottom-color: white;
    outline: none;
}

.download_button.active {
    display: inline-block;
}
